/*/.classpath
/*/*/.classpath
/*/.project
/*/src/main/resources/db/*
/*/src/main/filters/dev.properties
/*/src/template/project
/*/.settings
/*/target
/*/bin
/*/*.sql
/*/logs/*
/*/data/*
/*/db
/*/build*.xm
/*/*.rar
/*/*.zip
/*/*.tar.gz
/*/doc
/*/*.log
/*/src/*DS_Store

/*/*/.project
/*/src/main/filters/dev.properties
/*/*/.settings
/*/*/target
/*/*/bin
/*/*/src/main/resources/db/*
/*/*/src/main/filters/dev.properties
/*/*/src/template/project
/*/*/src/DS_Store
/*/*/logs/*
/*/*/db
/*/*/build*.xml
/*/*/data
/*/*/*.war
/*/*/*.rar
/*/*/*.zip
/*/*/*.tar.gz
/*/*/*.log

/.classpath
/.project
/.settings
/src/template/project
/src/main/filters/dev.properties
/src/main/resources/db/*
/src/template/project
/src/DS_Store
/target
/bin
/logs/*
/*.tar.gz
/db
/data
/doc
/build*.xml
/*.log
/*.rar
/*.zip
/*.tar.gz
